<p>Ingrese sus credenciales para Google calendar.  Toda la informacion solo sera guardada en la session - ninguna información personal sera grabada.  Utilice una cuenta para pruebas - esto no es código de producción, no se sorprenda si este, no realiza lo que ud. espera de el.</p>

<% form_for '', :url => {:action => :verify} do %>
<p>cuenta de gMail - email </p>
	<p>Usuario : <%= text_field_tag :username, @username %></p>
	<p>Clave : <%= password_field_tag :password, @password %></p>
	<%= submit_tag 'Login' %>
<% end %>